*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #fcfcfc;
}

.fonte{
    font-family: 'Barlow Condensed', sans-serif;
}

.titulo{
    text-align: center;
    margin-top: 2%;
    color: #23262B;
    font-size: 3rem;
    margin-left: 2%;
    margin-right: 2%;
}

.subtitulo{
    text-align: center;
    margin-bottom: 4%;
    color: #4d74b8;
    margin-top: 0.5%;
    font-size: 22px;
}

.images{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: #4d74b8e3;
    border-radius: 20px;
}

.image-square{
    margin: 2%;
    transition: 0.5s;
    filter: blur(0.5px);
    cursor: pointer;
}

.image-square:hover{
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    transition: 0.5s;
    filter: none;
}

#bot{
    margin-top: 3%;
}

.resultado{
    font-size: 2rem;
    font-weight: bold;
    color: #23262B;
    text-align: center;
}

@media(max-width: 700px){
    .images{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .image-square{
        width: 70%;
    }
}